# Sample configuration

# Path to the slicer binary (AppImage or executable)
SLICER_APP=

# Server mode: set to either "grpc" or "http". If empty, defaults to "http".
SERVER_MODE=http
# Port for the server
PORT=8080
